.App {
  position: absolute;
  top: 0;
  left: 0;
}

.search-bar {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 200px;
  height: 30px;
  z-index: 999;

  input {
    font-size: 15px;
    width: 100%;
    height: 30px;
  }

  .preview-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 36px;
    width: 206px;

    .preview-item {
      vertical-align: middle;
      line-height: 30px;
      padding: 2px;
      background-color: white;
      border: 1px solid #bbb;
      border-top: 0px;
      height: 30px;

      &:hover {
        background-color: #ddd;
      }
    }
  }
}

#gpem-map {
  width: 100vw;
  height: 100vh;
}

.leaflet-interactive {
  fill-opacity: 0.8;
  transition: fill-opacity 0.5s;

  &:hover {
    fill-opacity: 1;
  }
}

.country-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  background-color: white;
  z-index: 999;

  .country-name {
    color: black;
    margin: 8px;
  }

  .country-gdp {
    span {
      color: black;
      font-weight: bold;
    }

    color: blue;
    margin: 8px;
  }

  .country-population {
    span {
      color: black;
      font-weight: bold;
    }

    color: blue;
    margin: 8px;
  }

  .close-button {
    position: absolute;
    top: 8px;
    right: 8px;

    &:hover {
      background-color: #ddd;
      cursor: pointer;
    }
  }
}
